@import '~bootstrap/scss/bootstrap';
@import "variables";

body {
  background-color: $bg-color;
}

.App-header {
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .App-logo {
    width: 60px;
    height: 60px;
  }
  .App-title {
    font-size: 2rem;
    font-weight: 600;
    color: $heading-color;
  }
}
